body{
    margin: 0;
    text-align: center;
    color: #40514E;
    font-weight: bold;
    font-family: Merriweather, serif;
}

.top-container {
     background-color: #EAF6F6;
     color: #66BFBF;
     padding-top: 8%;
     width: 100%;
     height: 100vh;
     position: relative;
     margin-bottom: 5%;
}

.full-screen-div {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.programmer {
    font-family: Merriweather, serif;
    font-weight: normal;
}

.pro {
    text-decoration: underline;
}

h1 {
    margin: 2.5rem auto -1rem auto;
    font-size: 5.625rem;
    font-family: Sacramento, cursive;
}

h2 {
    font-size: 2.5rem;
    font-family: Monsterrat, sans-serif;
    color: #66BFBF;
}

h3 {
    font-size: 1.8rem;
    font-family: Monsterrat, sans-serif;
    color: #11999E;
}

p {
    font-size: 1rem;
}

.top-cloud {
    position: absolute;
    width: 15%;
    height: auto;
    right: 17rem;
    top: 5rem;
}

.bottom-cloud {
    position: absolute;
    width: 15%;
    height: auto;
    left: 19rem;
    top: 22rem;
}

.mountain {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    max-width: 100%;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile {
    width: 35%;
    margin: auto;
}

.profile-description {
    line-height: 2;
}

hr {
    margin: 7rem auto;
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 0.5em;
    width: 7.5%;
}

.imgProfile {
    width: 10rem;
    height: auto;
}

.skill {
    width: 25%;
    height: auto;
}

.img1 {
    float: left;
    margin-right: 2rem;
}

.img2 {
    float: right;
    margin-left: 2rem;
}

.skill-row {
    width: 50%;
    margin: 4rem auto;
    text-align: left;
    line-height: 2;
}

.contact-me {
    width: 35%;
    margin: auto;
}

.btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
   background-image: -o-linear-gradient(top, #11cdd4, #11999e);
   background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 1.5rem;
   font-weight: 100;
   padding: 1rem 2rem;
   margin: 3.5rem 0 7rem;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 4rem;
    margin: 0;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #11999E;
}

a:hover {
    color: #eaf6f6;
}

.credits {
    color: #EAF6F6;
    font-size: 0.75rem;
    margin-top: 3rem;
    font-weight: normal;
}

@media (max-width: 1028px) {
    h1 {
        margin: 20vh auto -1rem auto;
        font-size: 7rem;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 1.725rem;
    }

    .top-cloud {
        position: absolute;
        width: 25%;
        height: auto;
        right: 6rem;
        top: 15rem;
    }

    .bottom-cloud {
        position: absolute;
        width: 25%;
        height: auto;
        left: 5rem;
        top: 55rem;
    }

    .profile {
        width: 70%;
        margin: auto;
    }

    .imgProfile {
        width: 35%;
        height: auto;
    }

    .skill {
        width: 35%;
        height: auto;
    }

    .img1 {
        float: none;
    }

    .img2 {
        float: none;
        margin-left: 2rem;
    }

    .skill-row {
        width: 70%;
        text-align: center;
        line-height: 2;
    }

    .contact-me {
        width: 70%;
        margin: auto;
    }

    .btn {
       font-size: 2.5rem;
       padding: 1.5rem 3rem;
    }

    .bottom-container {
        padding: 4%;
    }

    a {
        font-size: 1.5rem;
    }

    .credits {
        color: #EAF6F6;
        font-size: 0.5rem;
        margin-top: 3rem;
        font-weight: normal;
    }
}
